<div>
  <br>

  <div>
    <h3>Завдання 1.</h3>
    <a href="http://localhost:3000/ex1" target="_blank">Посилання на відповідь.</a>
  </div>

  <div>
    <h3>Завдання 2.</h3>
    <a href="localhost:3000">Посилання на відповідь.</a>

  </div>

  <div>
    <h3>Завдання 3.</h3>
    <a href="localhost:3000">Посилання на відповідь.</a>
  </div>

  <div>
    <h3>Завдання 4.</h3>
    <a href="localhost:3000">Посилання на відповідь.</a>
  </div>

  <div>
    <h3>Завдання 5.</h3>
    <a href="localhost:3000">Посилання на відповідь.</a>

  </div>

  <div>
    <h3>Завдання 6.</h3>
    <a href="localhost:3000">Посилання на відповідь.</a>
  </div>

  <br>

  <p>Репозиторій з кодом.</p>

</div>